dash==3.0.4
fastapi==0.115.12
joblib==1.5.0
numpy==2.2.5
openmeteo_requests==1.4.0
openmeteo_sdk==1.20.0
pandas==2.2.3
plotly==6.0.1
pydantic==2.11.4
pydantic_core==2.33.2
pymongo==4.12.1
pytz==2025.2
requests==2.32.3
requests-cache==1.2.1
retry-requests==2.0.0
scikit-learn==1.6.1
urllib3==2.4.0
uvicorn==0.34.2
gunicorn
psycopg2
psycopg2-binary